### Complex Python Model

In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class ModelInputs:
    starting_salary: int = 60000
    promos_every_n_years: int = 5
    cost_of_living_raise: float = 0.02
    promo_raise: float = 0.15
    savings_rate: float=0.25
    interest_rate: float= 0.05
    desired_cash: int = 1500000

model_data = ModelInputs()
model_data

ModelInputs(starting_salary=60000, promos_every_n_years=5, cost_of_living_raise=0.02, promo_raise=0.15, savings_rate=0.25, interest_rate=0.05, desired_cash=1500000)

## Salaries

In [3]:


def salary_at_year(data, year):
    num_promos = int(year/data.promos_every_n_years)
    
    
    salary_t = data.starting_salary * (1 + data.cost_of_living_raise)**year * (1+ data.promo_raise)**num_promos
    return salary_t



salary_at_year(model_data, 5)

76181.5754208

In [4]:
for i in range(6):
    year = i+1
    salary = salary_at_year(model_data, year)
    print('The salary at year', year,'is', salary)

The salary at year 1 is 61200.0
The salary at year 2 is 62424.0
The salary at year 3 is 63672.48000000001
The salary at year 4 is 64945.929599999996
The salary at year 5 is 76181.5754208
The salary at year 6 is 77705.206929216

## Wealth

In [5]:
def cash_saved_during_year(data,year):

    salary = salary_at_year(data,year)
    cash_saved = salary*data.savings_rate
    return cash_saved


cash_saved_during_year(model_data, 5)

19045.3938552

In [6]:
def wealth_at_year(data, year, prior_wealth):
    cash_saved = cash_saved_during_year(data, year)
    wealth = prior_wealth*(1+data.interest_rate) + cash_saved
    return wealth

In [7]:
prior_wealth = 0

for i in range(6):
    year = i+1
    wealth = wealth_at_year(model_data, year, prior_wealth)
    print('the wealth at year', year, 'is',int(wealth))
    
    prior_wealth = wealth

the wealth at year 1 is 15300
the wealth at year 2 is 31671
the wealth at year 3 is 49172
the wealth at year 4 is 67867
the wealth at year 5 is 90306
the wealth at year 6 is 114248

In [8]:
### for comments

## Retirement

In [9]:
def years_to_retirement(data):

    wealth=0
    prior_wealth = 0 
    year = 0
    print('Wealth over time')
    while wealth < data.desired_cash:
            year +=1
            wealth = wealth_at_year(data, year, prior_wealth)
            print('the wealth at year', year, 'is',int(wealth))
            prior_wealth = wealth
    
    print('\nRetirement:')  ###the backslash n means newline to tidy it up
    print('it will take', year,'years to retire')
    return year

In [12]:
ytr = years_to_retirement(ModelInputs(starting_salary=30000))

Wealth over time
the wealth at year 1 is 7650
the wealth at year 2 is 15835
the wealth at year 3 is 24586
the wealth at year 4 is 33933
the wealth at year 5 is 45153
the wealth at year 6 is 57124
the wealth at year 7 is 69887
the wealth at year 8 is 83487
the wealth at year 9 is 97969
the wealth at year 10 is 114959
the wealth at year 11 is 133039
the wealth at year 12 is 152271
the wealth at year 13 is 172715
the wealth at year 14 is 194439
the wealth at year 15 is 219512
the wealth at year 16 is 246147
the wealth at year 17 is 274426
the wealth at year 18 is 304439
the wealth at year 19 is 336278
the wealth at year 20 is 372584
the wealth at year 21 is 411095
the wealth at year 22 is 451929
the wealth at year 23 is 495210
the wealth at year 24 is 541070
the wealth at year 25 is 592872
the wealth at year 26 is 647760
the wealth at year 27 is 705896
the wealth at year 28 is 767455
the wealth at year 29 is 832616
the wealth at year 30 is 905671
the wealth at year 31 is 983006
the wealth at year 32 is 1064849
the wealth at year 33 is 1151439
the wealth at year 34 is 1243024
the wealth at year 35 is 1345074
the wealth at year 36 is 1453023
the wealth at year 37 is 1567185

Retirement:
it will take 37 years to retire